<nav class="navbar navbar-expand-lg fixed-top app-background-escuro-2" [ngClass]="{'scrolled': isScrolled}">
  <div class="container">
    <a class="navbar-brand" href="#">
      <span class="fw-bold">G</span>ustavo
    </a>

    <button
      (click)="colapsarNavbar = !colapsarNavbar"
      class="navbar-toggler border-0"
      type="button"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{ show: colapsarNavbar }">
      <div class="navbar-nav ms-auto">
        <a
          *ngFor="let link of linksNavbar"
          class="nav-link px-3"
          [href]="link.href"
          [ngClass]="{'active': isActive(link.href)}"
          (click)="scrollToSection(link.href); $event.preventDefault()"
        >
          {{ link.texto }}
        </a>
      </div>
    </div>
  </div>
</nav>
