<section id="portfolio" class="app-background-escuro d-flex justify-content-center align-items-center">
  <div class="container">
    <h2 class="display-5 fw-bold text-center">Portfólio</h2>

    <div class="row flex-wrap justify-content-center g-3 mt-5">
      <div class="col-md-8 col-lg-4" *ngFor="let item of itensPortfolio">
        <div class="portfolio-card">
          <div class="card-image">
            <img class="img-fluid" [src]="item.imgUrl" [alt]="item.descricao" />
          </div>
          <div class="card-content">
            <h5 class="title">{{ item.descricao }}</h5>
            <p class="details">{{ item.detalhes }}</p>
            <a [href]="item.href" target="_blank" class="btn btn-primary">
            Ver projeto
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
