<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container py-2">
    <a class="navbar-brand fw-semibold" href="#">Gustavo</a>
    <button
      (click)="colapsarNavbar = !colapsarNavbar"
      class="navbar-toggler"
      type="button"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ show: colapsarNavbar }">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
      </div>
    </div>
  </div>
</nav>

<section class="mt-5" id="sobre">
  <div class="container">
    <div class="d-flex justify-content-center">
      <img
        class="img-fluid rounded-pill"
        src="assets/foto-gustavo.png"
        alt="Foto do Gustavo"
        style="max-width: 200px"
      />
    </div>

    <h2 class="display-5 fw-bold text-center mt-5">Um pouco sobre mim</h2>

    <div class="row flex-wrap mt-5">
      <div class="col-lg">
        <h3 class="fs-3">
          Meu nome é Gustavo,
          sou um desenvolvedor trainee full-stack.
        </h3>

        <p class="fs-5 mt-3">
          Tenho 6 meses de experiência como desenvolvedor full-stack, com
          <span class="app-texto-principal fw-semibold">.NET </span>e
          <span class="app-texto-principal fw-semibold">Angular</span>.
        </p>

        <p class="fs-5">
          Hoje, sou aluno na Academia do Programador, turma 2024.
        </p>
      </div>

      <div class="col">
        <ul class="list-group">
          <li class="list-group-item py-3">
            <strong>Nome:</strong> Gustavo da Costa Fontana.
          </li>
          <li class="list-group-item py-3">
            <strong>Email: </strong>
            <a href="mailto:gucfontana@gmail.com"
            >gucfontana&#64;gmail.com</a
            >
          </li>
          <li class="list-group-item py-3"><strong>Idade:</strong> 26 anos.</li>
          <li class="list-group-item py-3">
            <strong>De:</strong> Lages, Santa Catarina.
          </li>
        </ul>

        <div
          class="d-flex justify-content-center align-items-center gap-3 mt-3"
        >
          <a class="text-light" href="https://github.com/gucfontana">
            <i class="bi bi-github fs-1"></i>
          </a>
          <a class="text-light" href="https://linkedin.com/in/gucfontana">
            <i class="bi bi-linkedin fs-1"></i>
          </a>

          <a
            href="https://api.whatsapp.com/send?phone=5549991776669&text&type=phone_number&app_absent=0"
            target="_blank"
            class="btn btn-lg btn-success rounded-5 px-5 fw-semibold"
          >
            WhatsApp
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5" id="habilidades">
  <div class="container">
    <h2 class="display-5 fw-bold text-center">Minhas habilidades</h2>
    <div class="row row-cols-1 row-cols-lg-2 g-3 mt-5">
      <div class="d-flex align-items-center gap-4">
        <span>
          <i class="bi bi-window-fullscreen fs-1"></i>
        </span>
        <div class="d-flex flex-column">
          <label class="fs-4 fw-semibold">Web Design</label>
          <small class="fs-5"
          >Design e desenvolvimento de sistemas web atraentes e
            responsivos.</small
          >
        </div>
      </div>
      <div class="d-flex align-items-center gap-4">
        <span>
          <i class="bi bi-server fs-1"></i>
        </span>
        <div class="d-flex flex-column">
          <label class="fs-4 fw-semibold">Aplicações Back-End</label>
          <small class="fs-5"
          >Desenvolvimento de sistemas robustos para solucionar problemas
            simples ou complexos.</small
          >
        </div>
      </div>
      <div class="d-flex align-items-center gap-4">
        <span>
          <i class="bi bi-graph-up fs-1"></i>
        </span>
        <div class="d-flex flex-column">
          <label class="fs-4 fw-semibold">Testes Automatizados</label>
          <small class="fs-5"
          >Criação de testes automatizados que facilitam a manutenção e
            melhoram as entregas das aplicações.</small
          >
        </div>
      </div>
      <div class="d-flex align-items-center gap-4">
        <span>
          <i class="bi bi-wrench fs-1"></i>
        </span>
        <div class="d-flex flex-column">
          <label class="fs-4 fw-semibold">Engenharia de Software</label>
          <small class="fs-5"
          >Planejamento e execução de sistemas multi-camadas, integrando
            várias tecnologias de forma organizada e escalável.</small
          >
        </div>
      </div>
      <div class="d-flex align-items-center gap-4">
        <span>
          <i class="bi bi-battery-charging fs-1"></i>
        </span>
        <div class="d-flex flex-column">
          <label class="fs-4 fw-semibold">Ávido Aprendiz</label>
          <small class="fs-5"
          >Dedicado e entusiasta, sempre em busca de novos conhecimentos e habilidades.</small
          >
        </div>
      </div>
      <div class="d-flex align-items-center gap-4">
        <span>
          <i class="bi bi-building-up fs-1"></i>
        </span>
        <div class="d-flex flex-column">
          <label class="fs-4 fw-semibold">Implantação</label>
          <small class="fs-5"
          >Implantação e manutenção de sistemas em servidores VPS e em
            nuvem.</small
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="display-5" id="stacks">
  <div class="container">
    <h2 class="fw-bold text-center">Minhas stacks</h2>
    <div class="row row-cols-1 row-cols-lg-2 g-3 mt-5">
      <div class="d-flex align-items-center gap-4">
        <span>
          <i class="bi bi-laptop fs-1"></i>
        </span>
        <div class="d-flex flex-column">
          <label class="fs-4 fw-semibold">Front-End</label>
          <small class="fs-5"
          >Desenvolvimento de interfaces web com
            <span class="app-texto-principal fw-semibold">HTML</span>,
            <span class="app-texto-principal fw-semibold">CSS</span> e
            <span class="app-texto-principal fw-semibold">Angular</span>.</small
          >
        </div>
      </div>
      <div class="d-flex align-items-center gap-4">
        <span>
          <i class="bi bi-server fs-1"></i>
        </span>
        <div class="d-flex flex-column">
          <label class="fs-4 fw-semibold">Back-End</label>
          <small class="fs-5"
          >Desenvolvimento de APIs e sistemas com
            <span class="app-texto-principal fw-semibold">.NET</span>.</small
          >
        </div>
      </div>
      <div class="d-flex align-items-center gap-4">
        <span>
          <i class="bi bi-database fs-1"></i>
        </span>
        <div class="d-flex flex-column">
          <label class="fs-4 fw-semibold">Banco de Dados</label>
          <small class="fs-5"
          >Modelagem e consultas em bancos de dados
            <span class="app-texto-principal fw-semibold">SQLServer</span>.</small
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="display-5" id="experiencias">
  <div class="container">
    <h2 class="fw-bold text-center">Experiencias</h2>
    <div class="row row-cols-1 row-cols-lg-2 g-3 mt-5">
      <div class="d-flex align-items-center gap-4">
        <span>
          <img src="assets/logo-academia.png" alt="Logo da Academia" class="img-fluid d-block"/>
        </span>
        <div class="d-flex flex-column mt-3">
          <small class="fs-5">Março de 2024 - Atualmente</small>
        </div>
      </div>
    </div>
  </div>
</section>
