/* You can add global styles to this file, and also import other style files */

@import "bootstrap";
@import "bootstrap-icons";

/* src/styles.css */
section {
  min-height: 100vh; /* Reduzir a altura mínima das seções */
  padding: 2rem 0; /* Adicionar padding para espaçamento interno */
}

.container {
  max-width: 1200px; /* Limitar a largura máxima do container */
  margin: 0 auto; /* Centralizar o container */
}
